body{
  background-color: whitesmoke;
}

.App {
  text-align: center;
}

.list_container{
  display: grid;
  grid-template-columns: 1fr 2fr;
  justify-content: space-evenly;
  margin: auto;
}
.home{
 
  width: 25%;
  margin: auto;
  margin-bottom: 1px;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  padding: 20px;
  text-decoration: none;   
}
.totalemp{
  padding-left: 215px;
}
.total_terminated{
  padding-left: 212px;
}
.total_promoted{
  padding-left: 220px;
}
.total_new{
  padding-left: 258px;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  color: white;
  
  height: 30px;
  width: 50%;
  margin: auto;
  margin-top: 15px;
}

.navbar>a{
  text-decoration: none;
  padding: 5px;
}

.nav-home{
  background-color: royalblue;
  color: antiquewhite;
  border-radius: 5px;
  /* width: 70px; */
}

.nav-list{
  background-color: royalblue;
  color: antiquewhite;
  border-radius: 5px;
  /* width: 100px; */
}

.nav-admin{
  background-color: royalblue;
  color: antiquewhite;
  border-radius: 5px;
  /* width: 100px; */
}
.nav-login{
  background-color: royalblue;
  color: antiquewhite;
  border-radius: 5px;
  /* width: 100px; */
  padding: 0;
}

.user_details{
  /* border: 1px red solid; */
  width: 18%;
  margin: auto ;
  margin-top: 40px;
  
}
.user_salary{
  padding-right: 150px;
}
.user_name{
  padding-right: 85px;
}

.task{
  padding-right: 85px;
}
.fire{
  margin: auto;
  /* margin-left: 50px; */
  width: 90%;
  background-color:rgb(247, 107, 107);
  border: 0;
  border-radius: 2px;
}
.promote{
  /* margin-left: 70px; */
  width: 90%;
  background-color: rgb(114, 231, 114);
  border: 0;
  border-radius: 2px;
  
}

.welcome{
  text-align: center;
}